<div class="row">
  <div class="column">
    <h1>Vittles: Friends Page</h1>
    <div id="friends_root">
      React component loading...
    </div>
  </div>
</div>

<script>
  window.friends = <%= [] %>;
  window.current_user = <%= raw Jason.encode!(@current_user.email |> IO.inspect(label: "CURRENT_USER")) %>
</script>
