<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Project · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>
     window.userToken = "<%= @user_token %>";
    </script>
  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="col-12">
      <h1> Enter your email and password to access Vittles </h1>
        <%= form_for @conn, Routes.session_path(@conn, :create), [class: "form-inline"], fn f -> %>
          <%= text_input(f, :email, class: "form-control", placeholder: "email")%>
          <%= password_input(f, :password, class: "form-control", placeholder: "pass") %>
          <%= submit "Login", class: "btn btn-secondaty" %>
        <% end %>
        <%= link "Register", to: Routes.user_path(@conn, :new) %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
